variables:
  - name: isMain
    value: $[eq(variables['Build.SourceBranch'], 'refs/heads/master')]

  - name: ApiDockerRepository
    value: bobby1072/poke_game_api
  - name: ReactServerDockerRepository
    value: bobby1072/poke_game_react_server
  - name: SignalRApiDockerRepository
    value: bobby1072/poke_game_signal_r_api
  - name: dockerHubUsername
    value: bobby1072   

trigger:
  branches:
    include:
      - master

name: $(Date:yy).$(Month)$(DayOfYear).$(Rev:r)

resources:
  repositories:
    - repository: Hetzner-Container-Management
      type: github
      name: bobby1072/Hetzner-Container-Management
      endpoint: bobby1072

pr:
  branches:
    include:
      - "master"
      - "feature/*"
      - "hotfix/*"
      - "bugfix/*"

pool:
  vmImage: "ubuntu-latest"

stages:
  - stage: Build
    variables:
      - name: appReleaseVersion
        value: $(Build.BuildNumber)
    jobs:
      - job: build_backend
        displayName: "Build web api"
        steps:
          - checkout: self
            submodules: recursive

          - task: UseDotNet@2
            displayName: "Install .NET SDK"
            inputs:
              packageType: "sdk"
              version: "10.0.x"

          - task: DotNetCoreCLI@2
            displayName: "Run .NET Unit Tests"
            inputs:
              command: "test"
              projects: "src/PokeGame.Core/PokeGame.Core.sln"
              arguments: "-c Release"

      - job: build_phaser_frontend
        displayName: "Build phaser frontend"
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: 24.x

          - task: Npm@1
            displayName: "NPM install"
            inputs:
              command: "custom"
              customCommand: "ci"
              workingDir: $(Build.SourcesDirectory)/src/phaser-client

          - task: Npm@1
            displayName: "Check types"
            inputs:
              command: "custom"
              customCommand: "run check-types"
              workingDir: $(Build.SourcesDirectory)/src/phaser-client

          - task: Npm@1
            displayName: "Test"
            inputs:
              command: "custom"
              customCommand: "test --watchAll=false --coverage --ci"
              workingDir: $(Build.SourcesDirectory)/src/phaser-client

          - task: Npm@1
            displayName: "Build"
            inputs:
              command: "custom"
              customCommand: "run build"
              workingDir: $(Build.SourcesDirectory)/src/phaser-client
            env:
              VITE_BASE_PATH: /pokegame-react-server/

          - task: FileTransform@2
            displayName: "Transform frontend configuration file"
            condition: eq(variables.isMain, true)
            inputs:
              folderPath: "$(Build.SourcesDirectory)/src/phaser-client/dist"
              enableXmlTransform: false
              fileType: "json"
              jsonTargetFiles: "reactappsettings.json"

          - publish: "$(Build.SourcesDirectory)/src/phaser-client/dist"
            condition: eq(variables.isMain, true)
            displayName: "Publish client files"
            artifact: client

  
  - stage: Publish
    condition: and(eq(variables.isMain, true), succeeded())
    variables:
      - name: ReleaseVersion
        value: $(Build.BuildNumber)
      - name: ServiceInfo.ReleaseVersion
        value: $(Build.BuildNumber)
    jobs:
      - job: push_api_image
        steps:
          - checkout: self
            submodules: recursive

          - task: DownloadPipelineArtifact@2
            displayName: "Download phaser client files"
            inputs:
              artifact: client
              path: $(Build.SourcesDirectory)/src/phaser-client/dist

          - task: FileTransform@2
            displayName: "Transform all configuration files"
            inputs:
              folderPath: "$(Build.SourcesDirectory)/src"
              enableXmlTransform: false
              fileType: "json"
              jsonTargetFiles: |
                PokeGame.Core/PokeGame.Core.Api/appsettings.json
                PokeGame.Core/PokeGame.Core.SignalR/appsettings.json
                PokeGame.Core/PokeGame.Core.React.Server/appsettings.json

          - task: Docker@2
            displayName: Login to Docker Hub
            inputs:
              command: login
              containerRegistry: DockerHub
              username: $(dockerHubUsername)
              password: $(dockerHubPassword)

          - task: Docker@2
            displayName: Build Web Image
            inputs:
              command: build
              repository: $(ApiDockerRepository)
              tags: |
                latest
                $(Build.BuildNumber)
              Dockerfile: "$(Build.SourcesDirectory)/src/PokeGame.Core/dockerfile.api"
              buildContext: "$(Build.SourcesDirectory)"

          - task: Docker@2
            displayName: Push Web Image
            inputs:
              command: push
              repository: $(ApiDockerRepository)
              tags: |
                latest
                $(Build.BuildNumber)             

          - task: Docker@2
            displayName: Build React Server Image
            inputs:
              command: build
              repository: $(ReactServerDockerRepository)
              tags: |
                latest
                $(Build.BuildNumber)
              Dockerfile: "$(Build.SourcesDirectory)/src/PokeGame.Core/dockerfile.react.server"
              buildContext: "$(Build.SourcesDirectory)"
              arguments: --build-arg WEB_APP_CLIENT_PATH=src/phaser-client/dist/          
          
          - task: Docker@2
            displayName: Push React Server Image
            inputs:
              command: push
              repository: $(ReactServerDockerRepository)
              tags: |
                latest
                $(Build.BuildNumber)

          - task: Docker@2
            displayName: Build Signal R Api Image
            inputs:
              command: build
              repository: $(SignalRApiDockerRepository)
              tags: |
                latest
                $(Build.BuildNumber)
              Dockerfile: "$(Build.SourcesDirectory)/src/PokeGame.Core/dockerfile.signalr"
              buildContext: "$(Build.SourcesDirectory)"

          - task: Docker@2
            displayName: Push Signal R Api Image
            inputs:
              command: push
              repository: $(SignalRApiDockerRepository)
              tags: |
                latest
                $(Build.BuildNumber)


  - stage: DeployInfra
    displayName: "Deploy Infrastructure (Production)"
    dependsOn: Publish
    condition: and(eq(variables.isMain, true), succeeded())
    variables:
      - name: 1.dockerHubDetails.password
        value: $(dockerHubPassword)
      - name: 2.dockerHubDetails.password
        value: $(dockerHubPassword)   
      - name: 3.dockerHubDetails.password
        value: $(dockerHubPassword)

      - name: 0.configMap.POSTGRES_PASSWORD
        value: $(PostgresPassword)
      - name: 0.configMap.POSTGRES_USER
        value: $(PostgresUser)

      - name: 1.configMap.ConnectionStrings__PostgresConnection
        value: $(PostgresConnectionString)
      - name: 2.configMap.ConnectionStrings__PostgresConnection
        value: $(PostgresConnectionString)

      - name: 1.labels.traefik.http.routers.pokegame-api.rule    
        value: $(PokeGameApiTraefikRule)
      - name: 2.labels.traefik.http.routers.pokegame-signalr.rule    
        value: $(PokeGameSignalRTraefikRule)
      - name: 3.labels.traefik.http.routers.pokegame-react-server.rule    
        value: $(PokeGameReactServerTraefikRule)          
      
      - name: 0.labels.ReleaseVersion
        value: $(Build.BuildNumber) 
      - name: 1.labels.ReleaseVersion
        value: $(Build.BuildNumber) 
      - name: 2.labels.ReleaseVersion
        value: $(Build.BuildNumber) 
      - name: 3.labels.ReleaseVersion
        value: $(Build.BuildNumber)    

      - name: 1.imageTag
        value: $(Build.BuildNumber) 
      - name: 2.imageTag
        value: $(Build.BuildNumber) 
      - name: 3.imageTag
        value: $(Build.BuildNumber)

      - name: 3.configMap.PokeGameBackendSettings__PokeGameApiProdUri
        value: $(PokeGameApiProdUri)    
      - name: 3.configMap.PokeGameBackendSettings__PokeGameSignalRProdUri
        value: $(PokeGameSignalRProdUri)
    jobs:
      - deployment: DeployInfrastructure
        displayName: "Queue Infrastructure Update"
        environment: production-infra   # This triggers approval
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                  submodules: recursive

                - task: FileTransform@2
                  displayName: "Transform app json"
                  inputs:
                    folderPath: "$(Build.SourcesDirectory)/Infrastructure"
                    enableXmlTransform: false
                    fileType: "json"
                    jsonTargetFiles: "app.json"

                - template: templates/deploy-infrastructure.yml@Hetzner-Container-Management
                  parameters:
                    serverUrl: $(InfraServerUrl)
                    apiKey: $(InfraApiKey)
                    requestBodyPath: "$(Build.SourcesDirectory)/Infrastructure/app.json"
                    allowInsecureTls: true
